Django==5.0.7
djangorestframework==3.15.2
django-extensions==3.2.3
django-cors-headers==4.3.1
django-humanize==0.1.2

# Database
mysqlclient==2.2.4
PyMySQL==1.1.0

# Machine Learning
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
xgboost==2.0.3

# Web Server
gunicorn==22.0.0
whitenoise==6.7.0

# HTTP Requests
requests==2.32.3
urllib3==2.2.2

# Time and Date
python-dateutil==2.9.0.post0
pytz==2024.1

# Development
python-dotenv==1.0.1
Pillow==10.4.0

# API Documentation
drf-spectacular==0.27.2